<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Opskrift Finderen</title>
</head>
<body>
    <div>
        <h1>Opskrift Finderen</h1>
        <h2>Ingen undskyldninger</h2>
    </div>

    <div class="container">
        <input id="search-box" type="text" name="ingredients" placeholder="Skriv en eller flere ingredienser...">
        <button id="search-button">Søg</button>
    </div>
    <div class="results">
        <div>
            <span>80</span>
        </div>
    </div>
</body>
</html>